<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:3333/styles/styleHF.css" />
    <link rel="stylesheet" href="http://localhost:3333/styles/stylemain.css" />
    <title>Página Teste</title>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <main><%- include('./partials/main'); %></main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
