<header class="cabeca">
    <div>
        <a href="index.html"> <img id="logosenac" src="imagens/topo_site_bl1_2018.png" alt="logoSenac"></a>
        <section class="galery">
            <div class="fotos">
                <img style="margin-bottom: 30px;" src="imagens/BanerdaKnackfoto.jpg" alt="Foto 1">
                <img src="imagens/BannerBioTec.png" alt="Foto 2">
                <img style="margin-bottom: 30px;" src="imagens/BanerdaKnackfoto.jpg" alt="Foto 4">
                <img src="imagens/BannerBioTec.png" alt="Foto 1">
            </div>
        </section>
        <section class="menu">
            <nav id="menu">
                <div>
                    <a href="https://www.pr.senac.br/principal/index.asp"><img src="imagens/cursos.novo3.curvo.png"
                            alt="CURSOS"></a>
                </div>
                <div>
                    <a href="http://localhost:3333/docente"><img src="imagens/corpoDocenteAzul.curvo.png"
                            alt="CORPO DOCENTE"></a>
                </div>
                <div>
                    <a href="galeriageral.html"> <img src="imagens/galeriaAzul.curvo.png"
                            alt="GALERIA DE FOTOS"></a>
                </div>
                <div>
                    <a href="indexKnack.html"> <img src="imagens/logoKnack6.png" alt="logoKnack"></a>
                </div>
            </nav>
        </section>
</header>