<div id="h2">
    <h2>Lanchonete</h2>
</div>
<section class="galeriadefoto">
    <div id="fotofundo">
        <div id="foto">
            <img id="imgproduto" src="imagens/logo_senac.png" alt="" />
            <a href="" target="_blank"></a>
        </div>
    </div>
    <div id="fotofundo">
        <div id="foto">
            <img id="imgproduto" src="imagens/logo_senac.png" alt="" />
            <a href="" target="_blank"></a>
        </div>
    </div>
</section>