<main>
    <div id="h2">
        <h2>Senac-Paranagua<br>
            Parabens <br>Pelos seus 8(oito)anos</h2>
    </div>
    <section class="galeriadefotosgeral">
        <div id="fotogeral">
            <div><img id="fotosenac" src="imagens/imagesenac.jpg" alt=""></div>
        </div>
    </section>
    <div id="h2">
        <h2>Horario dos interlavos </h2>
    </div>
    <section class="galeriadefotosgeral">
        <div id="fotocursos">
            <div><img id="fotosenac" src="imagens/imagesenac.jpg" alt=""></div>
        </div>
    </section>
</main>